<div
	class={`fixed bg-repeat w-[200%] h-[100dvh] z-[999] inset-0 pointer-events-none contrast-125 brightness-150`}
>

</div>

<style>
	div{
		background:url("/concrete.png") ;
		animation: noise .2s infinite;
		mix-blend-mode: multiply;
	}

	@keyframes noise {
		0%{
			transform: translate(0%,0%);
		}
		10%{
			transform: translate(-5%,-5%);
		}
		20%{
			transform: translate(-10%,5%);
		}
		30%{
			transform: translate(5%,-10%);
		}
		40%{
			transform: translate(-5%,15%);
		}
		50%{
			transform: translate(-10%,5%);
		}
		60%{
			transform: translate(15%,0%);
		}
		70%{
			transform: translate(0%,15%);
		}
		80%{
			transform: translate(10%,15%);
		}
		90%{
			transform: translate(5%,10%);
		}
		100%{
			transform: translate(0%,0%);
		}
	}
</style>