---
import HeroLogo from "@/components/HeroLogo.astro"
---

<section class="flex flex-col justify-center items-center">
	<span class="text-xl uppercase text-secondary bg-primary px-6 py-1 font-medium mb-9 animate-fade-in animate-delay-300">
		Presentación de la 
	</span>
	<HeroLogo class="text-primary w-[300px] md:w-[600px] h-auto animate-fade-in-up" />
</section>