<section class="flex font-medium text-primary gap-y-10 my-32 flex-col">
	<div class="flex justify-center items-center">
		<a class="hover:scale-125 hover:opacity-70 transition inline-block" href="#" target="_blank" rel="nopener">
			<img src="./twitch.svg" alt="tiwich logo">
		</a>
	</div>

	<div class="grid grid-cols-1 md:grid-cols-3 uppercase text-center gap-x-4">

		<article class="flex justify-center items-center border-y-2 py-28 px-16 border-primary text-xl">
			<h5>Presentación, Pesaje, Entrevista y Cara a Cara</h5>
		</article>
		<article class="flex justify-center items-center border-y-2 py-28 px-16 border-primary text-4xl">
			<h4>
				<a href="#"
					class="hover:text-purple-800 transition hover:scale-110 inline-block"
					target="_blank"
					rel="noopener"
				>
					Síguelo en directo twitch.tv/ibai
				</a>
			</h4>
		</article>
		<article class="flex justify-center items-center border-y-2 py-28 px-16 border-primary text-xl">
			<h5>Con la presencia de los boxeadores y boxeadoras</h5>
		</article>

	</div>
</section>