<section class="text-primary mt-32 mx-auto flex flex-col justify-center items-center text-center">
	<h2 class="uppercase text-5xl font-semibold">
		4 de marzo 
		<span aria-hidden class="hidden md:inline"> . </span> 
		<br aria-hidden class="block md:hidden">
		<span>
			<script is:inline>
				const END_DATE = 1709575200000
				const d = new Date(END_DATE)
				const date = d.toLocaleTimeString("es-ES",{
					hour:"2-digit",
					minute:"2-digit"
				}) 

				// get current timezone
				const tzOffset= d.getTimezoneOffset() / 60
				const diff = tzOffset * -1
				const gmt = diff > 0 ? `GMT+${diff}` : `GMT+${Math.abs(diff)}`

				const TZ_DICRIONARY = {
					"GMT+1" : "CET"
				}

				const tz = TZ_DICRIONARY[gmt] ?? gmt

				const selfScript = document.currentScript
				selfScript.parentNode.innerHTML = `${date} ${tz}`
			</script>
		</span>
	</h2>

	<h3 class="uppercase text-2xl font-semibold flex flex-col max-w-sm mt-6">
		<span>Evento de Presentación</span>
		<span>Teatro Victoria (Barcelona)</span>
	</h3>

	<a 
		class={`
			border-primary border-2 font-medium uppercase text-lg 
			px-4 py-1 mt-8
			hover:bg:secondary hover:scale-125 transition
		`}
		href="#" target="_blank" rel="nooperer noreferrer">
		Entradas agotadas
	</a>
	
</section>